img {
    display: block;
    margin: auto;
    margin-top: 33%;
    width: 40%;

}

form {
    display: block;
    margin-top: 1%;
    margin-left: 33.3%;
    margin-right: 33.3%;
    

}

.search {
    display: block;
    margin-top: 3%;
    
    
}